{% extends 'cars/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/car_form.css' %}">
{% endblock %}

{% block title %}Dodaj automobil{% endblock %}

{% block content %}
  <div class="form-container">
    <h1>Dodaj novi automobil</h1>

    <form method="post" enctype="multipart/form-data" class="car-form">
      {% csrf_token %}

      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <div class="error">{{ field.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit" class="btn">Sačuvaj</button>
    </form>
  </div>
{% endblock %}
